@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-text-color: 255, 255, 255;
  --light-text-color: 0, 0, 0;
  --background-light: 255, 255, 255;
  --background-dark: 18, 18, 18;
}

.dark {
  --dark-text-color: 255, 255, 255;
  --light-text-color: 0, 0, 0;
  --background-light: 255, 255, 255;
  --background-dark: 18, 18, 18;
}

body {
  color: rgb(var(--light-text-color));
  background: rgb(var(--background-light));
  display: flex;
  justify-content: center;
  padding: 2rem 5rem;
}

@media screen and (max-width: 768px) {
  body {
    padding: 2rem 1rem;
  }
}

.dark body {
  color: rgb(var(--dark-text-color));
  background: rgb(var(--background-dark));
}

.projectsSlider {
  .swiper-button-prev {
    color: #9370DB;
  }

  .swiper-button-next {
    color: #9370DB;
  }

  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background: #9370DB;
    }

  .swiper-wrapper {
    padding: 10rem;
  }

  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
