.projects-swiper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 892px) {
  .projects-swiper {
    width: 100%;
  }
}

.projects-swiper .swiper-button-prev {
  display: none;
  color: #9370DB;
}

.projects-swiper .swiper-button-next {
  display: none;
  color: #9370DB;
}

@media screen and (min-width: 892px) {
  .projects-swiper .swiper-button-prev {
    display: block;
  }

  .projects-swiper .swiper-button-next {
    display: block;
  }
}