@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-text-color: 255, 255, 255;
  --light-text-color: 0, 0, 0;
  --background-light: 255, 255, 255;
  --background-dark: 18, 18, 18;
}

.dark {
  --dark-text-color: 255, 255, 255;
  --light-text-color: 0, 0, 0;
  --background-light: 255, 255, 255;
  --background-dark: 18, 18, 18;
}

body {
  color: rgb(var(--light-text-color));
  background: rgb(var(--background-light));
  display: flex;
  justify-content: center;
  padding: 0 5rem 5rem 5rem;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 1rem 3rem 1rem;
  }
}

.dark body {
  color: rgb(var(--dark-text-color));
  background: rgb(var(--background-dark));
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.dark .swiper-pagination .swiper-pagination-bullet {
  background: white;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #9370DB;
}

.dark .swiper-pagination .swiper-pagination-bullet-active {
  background: #9370DB;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
