.projects-swiper {
  display: flex;
  flex-direction: column;
  width: 66.66%;
}

@media screen and (min-width: 892px) {
  .projects-swiper {
    width: 100%;
  }
}

.projects-swiper .swiper-button-prev {
  display: none;
  color: #9370DB;
}

.projects-swiper .swiper-button-next {
  display: none;
  color: #9370DB;
}

@media screen and (min-width: 892px) {
  .projects-swiper .swiper-button-prev {
    display: block;
  }

  .projects-swiper .swiper-button-next {
    display: block;
  }
}

.projects-swiper .projects-swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.projects-swiper .projects-swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.dark .projects-swiper .projects-swiper-pagination .swiper-pagination-bullet {
  background: white;
}

.projects-swiper .projects-swiper-pagination .swiper-pagination-bullet-active {
  background: #9370DB;
}

.dark .projects-swiper .projects-swiper-pagination .swiper-pagination-bullet-active {
  background: #9370DB;
}